
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
    }

    .container {
      background-color: #2d4354;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #ffff;
    }

    .form-group {
      margin-bottom: 15px;
      font-size: 1.2rem;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .form-group input[type="submit"] {
      background-color: #0b1e33;
      color: #fff;
      border: none;
      transition: background-color 0.3s;
    }

